.QPushButton
{
    border-radius: 0px;
    background-color: #B6CBEC;
    color: #fff;
    size: 100px, 20px;
}
.QPushButton::hover
{
    background-color: #7CA0DD;
}
.QSlider::handle
{
    background-color: #B6CBEC;
    border-radius: 0px;
    height: 10px;
}
.QSlider::handle::hover
{
    background-color: #7CA0DD;
    border-radius: 0px;
    height: 10px;
}
/*.QSlider::groove
{
    background-color: #B6CBEC;
    border-radius: 0px;
    height: 5px;
}*/